<!-- <header id="header" class="flex flex-col x-xs:flex-row items-center justify-between bg-light p-4 2xl:px-12">
  <div class="w-full flex items-center justify-between x-xs:justify-normal space-x-3 sm:space-x-4 pb-2 x-xs:pb-0">
    <span class="block lg:hidden cursor-pointer" onclick="toggleActive('left_bar','-translate-x-full')">
      <i class="icon-bar_icon text-2xl font-bold"></i>
    </span>
    <strong class="text-2xl md:text-3xl xl:text-32 2xl:text-4xl font-bold whitespace-nowrap">Discounts</strong>
  </div>
  <div class="w-full flex items-center justify-end space-x-3 lg:space-x-4 xl:space-x-5 2xl:space-x-6 x-xs:pl-2">
    <div class="max-w-md xl:min-w-[512px] w-full flex items-center bg-white rounded-lg py-2 md:py-2.5 lg:py-3.5 px-6">
      <label for="search" class="text-gray_3 font-medium"><span class="icon-search align-middle"></span></label>
      <input type="text" name="search" id="search" class="w-full text-sm md:text-base font-medium text-gray_3 placeholder:text-gray_3 outline-none pl-2" placeholder="Search By Customers ID,Name..">
    </div>
    <div class="bg-white rounded-full">
      <span class="icon-meeting2 w-8 md:w-10 lg:w-12 h-8 md:h-10 lg:h-12 flex items-center justify-center text-lg md:text-xl lg:text-2xl text-gray_3"></span>
    </div>
    <div class="bg-white rounded-full">
      <span class="icon-Upload w-8 md:w-10 lg:w-12 h-8 md:h-10 lg:h-12 flex items-center justify-center text-lg md:text-xl lg:text-2xl text-gray_3"></span>
    </div>
  </div>
</header>
<div id="contentBox" class="relative w-full bg-white overflow-hidden h-[calc(100vh-84px)] overflow-y-auto">
</div> -->
<router-outlet></router-outlet>