<div class="w-full h-full overflow-y-auto space-y-5 lg:space-y-7 xl:space-y-9 p-5 xl:p-8 2xl:p-10">
  <div class="flex flex-wrap xl:flex-nowrap items-start justify-between">
    <div class="flex space-x-4 mr-5">
      <div class="max-w-[288px] w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5">
        <div class="flex items-center justify-between" [routerLink]="'/event-overview'">
          <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Total Events</span>
          <div class="bg-light_primary rounded-lg">
            <span class="icon-event text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
          </div>
        </div>
        <div class="w-full">
          <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">{{totalEventList}}</span>
          <div class="flex items-center space-x-2 mt-2">
            <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
              <span class="icon-up_arrow text-10 text-persion_green"></span>
              <span class="block text-xs text-persion_green">16.24 %</span>
            </div>
            <div class="flex items-center">
              <span class="block text-sm text-gray_1">This Month</span>
              <span class="icon-down_arrow1 text-gray_1"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-[288px] w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5">
        <div class="flex items-center justify-between" [routerLink]="'/event-overview'">
          <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Total Events Category</span>
          <div class="bg-light_primary rounded-lg">
            <span class="icon-event text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
          </div>
        </div>
        <div class="w-full">
          <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">{{totalEventCategoryList}}</span>
          <div class="flex items-center space-x-2 mt-2">
            <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
              <span class="icon-up_arrow text-10 text-persion_green"></span>
              <span class="block text-xs text-persion_green">16.24 %</span>
            </div>
            <div class="flex items-center">
              <span class="block text-sm text-gray_1">This Month</span>
              <span class="icon-down_arrow1 text-gray_1"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2">
      <div class="border border-gray_1 cursor-pointer rounded-lg py-2.5 sm:py-2.5 2xl:py-3.5 px-5 lg:px-6 xl:px-8">
        <div class="flex items-center space-x-2 sm:space-x-2.5 md:space-x-3">
          <span class="icon-document_upload sm:text-[18px] lg:text-[20px] font-medium"></span>
          <span class="text-xs sm:text-sm font-medium whitespace-nowrap">Export Data</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div class="relative">
      <mat-tab-group animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="block icon-event"></span>
            <span class="block pl-3">Events</span>
          </ng-template>
          <div class="w-full overflow-hidden pt-5">
            <div class="flex flex-wrap items-center justify-between">
              <span class="block text-2xl font-semibold py-4 pr-2">Events List</span>
              <form class="flex flex-wrap md:flex-nowrap items-center float-right -mx-2">
                <div class="relative p-2">
                  <label for="search_two"
                    class="icon-search absolute top-1/2 -translate-y-1/2 left-6 text-lg md:text-xl text-gray_1 z-10"></label>
                  <input type="text" (keyup)="onKeySearch($event,'event')" name="search_two" id="search_two"
                    class="w-full text-xs sm:text-sm text-gray_1 bg-transparent border border-gray_5 outline-none rounded-lg py-2.5 pr-5 pl-11"
                    placeholder="Search">
                </div>
                <div class="relative cursor-pointer p-2">
                  <span
                    class="icon-filter absolute top-1/2 -translate-y-1/2 left-6 text-lg md:text-xl text-gray_1 pointer-events-none"></span>
                  <input type="text"
                    class="text-xs sm:text-sm text-gray_1 bg-transparent border border-gray_5 cursor-pointer outline-none rounded-lg py-2.5 pr-5 pl-11"
                    placeholder="Filter" />
                </div>
              </form>
            </div>
            <div class="w-full" *ngIf="eventData.filteredData.length > 0">
              <div class="w-full relative overflow-x-auto mt-4" *ngIf="eventData.filteredData.length > 0">
                <table mat-table [dataSource]="eventData" *ngIf="eventData.filteredData.length > 0" class="mat-elevation-z8 mt-0" matSort>

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row; let i = index">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- event_name Column -->
                  <ng-container matColumnDef="event_name" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap" mat-sort-header> Event Name
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="cursor-pointer whitespace-nowrap"
                      (click)="viewEvent($event,element.id)"> {{element.event_name}} </td>
                  </ng-container>

                  <!-- event_type Column -->
                  <ng-container matColumnDef="event_type" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap" mat-sort-header> Event Type
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap"> {{element.event_type}}
                    </td>
                  </ng-container>

                  <!-- organizers Column -->
                  <ng-container matColumnDef="organizers" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap" mat-sort-header> Organizers
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap"> {{element.organizers}}
                    </td>
                  </ng-container>

                  <!-- is_live Column -->
                  <ng-container matColumnDef="is_live" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Is Live </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap">
                      <!-- <div class="w-fit flex items-center bg-light_green rounded-lg py-2 px-3">
                        <span class="icon-yes text-deep_green"></span>
                        <span class="block text-xs text-deep_green whitespace-nowrap pl-2">{{element.is_live}}</span>
                      </div> -->
                      <mat-slide-toggle  [disabled]="true" [checked]="element.is_live" color="primary"
                        (click)="checkedClick($event)"></mat-slide-toggle>
                    </td>
                  </ng-container>

                  <!-- is_approved Column -->
                  <ng-container matColumnDef="is_approved" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Is Approved </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap">
                      <!-- <div class="w-fit flex items-center bg-[#FFF2E5] rounded-lg py-2 px-3">
                        <span class="icon-rong text-[#F6A351]"></span>
                        <span class="block text-xs text-[#F6A351] whitespace-nowrap pl-2">{{element.is_approved}}</span>
                      </div> -->
                      <mat-slide-toggle [checked]="element.is_approved" color="primary"
                        (click)="checkedClick($event);approvedStatusChnage(element);"></mat-slide-toggle>
                    </td>
                  </ng-container>

                  <!-- status Column -->
                  <ng-container matColumnDef="status" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Status </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center   whitespace-nowrap">
                      <!-- <div class="w-fit flex items-center bg-light_green rounded-lg py-2 px-3">
                        <span class="icon-yes text-deep_green"></span>
                        <span class="block text-xs text-deep_green whitespace-nowrap pl-2">{{element.status}}</span>
                      </div> -->
                      <mat-slide-toggle [checked]="element.status" color="primary" [disabled]="true"
                        (click)="checkedClick($event)"></mat-slide-toggle>
                    </td>
                  </ng-container>

                  <!-- status Column -->
                  <ng-container matColumnDef="action" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap">
                      <div class="w-fit relative flex items-center space-x-5 z-[1]">
                        <span class="icon-view text-gray_1 text-2xl cursor-pointer"
                          (click)="viewEvent($event,element.id)"></span>
                        <!-- <span class="icon-edit-square text-gray_1 text-2xl cursor-pointer"
                          (click)="editEvent($event)"></span> -->
                        <!-- <span class="icon-delete2 text-gray_1 text-2xl cursor-pointer"
                          (click)="deleteEvent($event,element)"></span> -->
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
                </table>
                <div *ngIf="isTableLoading" class="absolute inset-0 w-full h-full flex items-center justify-center bg-slate-300/30 backdrop-blur-sm z-10">
                  <div class="flex flex-col items-center justify-center">
                    <div
                      class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-primary border-t-transparent">
                    </div>
                    <p class="block text-base font-medium pt-2">Plase wait</p>
                  </div>
                </div>
              </div>
              <mat-paginator class="pt-5" #paginator showFirstLastButtons (page)="getEvent($event)" [length]="totalEvent" [pageSizeOptions]="datashowNumber" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
            </div>
            <div class="w-full p-5 mt-5" *ngIf="eventData.filteredData.length == 0">
              <div class="max-w-8xl w-full shadow-one rounded-2xl p-10">
                <strong class="block text-xl lg:text-2xl 2xl:text-2xl text-center">Events not found..!</strong>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="block icon-event"></span>
            <span class="block pl-3">Event Category</span>
          </ng-template>
          <div class="w-full overflow-hidden pt-5">
            <div class="flex flex-wrap items-center justify-between">
              <strong class="text-xl lg:text-2xl whitespace-nowrap py-4 pr-2">Event Category</strong>
              <form class="flex flex-wrap md:flex-nowrap items-center float-right -mx-2">
                <div class="relative cursor-pointer p-2">
                  <div class="p-2 group">
                    <div class="bg-primary group-hover:bg-white anim border border-primary cursor-pointer rounded-lg py-2 px-5 lg:px-6 xl:px-8" (click)="addCreateEventCategory()">
                      <div class="flex items-center space-x-2 sm:space-x-2.5 md:space-x-3">
                        <span class="icon-add sm:text-[18px] font-medium text-white group-hover:text-primary anim"></span>
                        <span class="text-xs sm:text-sm font-medium whitespace-nowrap text-white group-hover:text-primary anim">Add</span>
                      </div>
                    </div>
                  </div>
                  <!-- <button class="w-full bg-transparent border border-gray_5 cursor-pointer outline-none rounded-lg p-2.5 flex justify-center items-center">
                    <span class="icon-add text-[18px] font-medium text-gray_1 anim"></span>
                  </button> -->
                </div>
                <div class="relative cursor-pointer p-2">
                  <label for="search_two"
                    class="icon-search absolute top-1/2 -translate-y-1/2 left-6 text-lg md:text-xl text-gray_1 pointer-events-none z-10"></label>
                  <input type="text" (keyup)="onKeySearch($event,'eventCategory')" name="search_two" id="search_two"
                    class="w-full text-xs sm:text-sm text-gray_1 bg-transparent border border-gray_5 cursor-pointer outline-none rounded-lg py-2.5 pr-5 pl-11"
                    placeholder="Search">
                </div>
                <div class="relative cursor-pointer p-2">
                  <span
                    class="icon-filter absolute top-1/2 -translate-y-1/2 left-6 text-lg md:text-xl text-gray_1 pointer-events-none"></span>
                  <input type="text"
                    class="text-xs sm:text-sm text-gray_1 bg-transparent border border-gray_5 cursor-pointer outline-none rounded-lg py-2.5 pr-5 pl-11"
                    placeholder="Filter" />
                </div>
              </form>
            </div>
            <div class="w-full" *ngIf="eventCategory.filteredData.length > 0">
              <div class="w-full relative overflow-x-auto mt-8" *ngIf="eventCategory.filteredData.length > 0">
                <table mat-table [dataSource]="eventCategory" *ngIf="eventCategory.filteredData.length > 0" matSort
                  class="mat-elevation-z8 overflow-x-auto">
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selectEvent_category.hasValue() && isAllSelected()"
                        [indeterminate]="selectEvent_category.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let ec_checkbox; let i = index">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectEvent_category.toggle(ec_checkbox) : null"
                        [checked]="selectEvent_category.isSelected(ec_checkbox)" [aria-label]="checkboxLabel(ec_checkbox)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                  <!-- category_name Column -->
                  <ng-container matColumnDef="categoryname" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Category Name </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap">
                      {{element.categoryname}} </td>
                  </ng-container>
                  <!-- description Column -->
                  <ng-container matColumnDef="description" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Description </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap"> {{element.description}}
                    </td>
                  </ng-container>
                  <!-- event_type Column -->
                  <ng-container matColumnDef="event_type" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Event Type </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap"> {{element.event_type}}
                    </td>
                  </ng-container>
                  <!-- status Column -->
                  <ng-container matColumnDef="status" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Status </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap">
                      <!-- <div class="w-fit flex items-center bg-light_green rounded-lg py-2 px-3">
                        <span class="icon-yes text-deep_green"></span>
                        <span class="block text-xs text-deep_green whitespace-nowrap pl-2">{{element.status}}</span>
                      </div> -->
                      <mat-slide-toggle [checked]="element.status" color="primary"
                        (click)="checkedClick($event);changeEventCategoryStatus($event,element);"></mat-slide-toggle>
                    </td>
                  </ng-container>
                  <!-- status Column -->
                  <ng-container matColumnDef="action" class="relative z-[1]">
                    <th mat-header-cell *matHeaderCellDef class="text-center whitespace-nowrap"> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="whitespace-nowrap">
                      <div class="w-fit relative flex items-center space-x-5 z-[1]">
                        <!-- <span class="icon-view text-gray_1 text-2xl cursor-pointer"></span> -->
                        <span class="icon-edit-square text-gray_1 text-2xl cursor-pointer"
                          (click)="editEventCategory($event,element)"></span>
                        <!-- <span class="icon-delete2 text-gray_1 text-2xl cursor-pointer"
                          (click)="deleteEventCategory($event,element)"></span> -->
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="eventCategoryColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: eventCategoryColumns;" (click)="selection.toggle(row)"></tr>
                </table>
                <div *ngIf="isTableLoading" class="absolute inset-0 w-full h-full flex items-center justify-center bg-slate-300/30 backdrop-blur-sm z-10">
                  <div class="flex flex-col items-center justify-center">
                    <div
                      class="w-12 h-12 rounded-full animate-spin border-4 border-solid border-primary border-t-transparent">
                    </div>
                    <p class="block text-base font-medium pt-2">Plase wait</p>
                  </div>
                </div>
                <mat-paginator class="pt-5" #paginator showFirstLastButtons (page)="getEventCategory($event)" [length]="totalEventCategory" [pageSizeOptions]="datashowNumber" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
              </div>
            </div>
            <div class="w-full flex justify-center p-5 mt-5" *ngIf="eventCategory.filteredData.length == 0">
              <div class="max-w-8xl w-full shadow-one rounded-2xl p-10">
                <strong class="block text-xl lg:text-2xl 2xl:text-2xl text-center">Event Categories not
                  found..!</strong>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>