<div (click)="close();" class="fixed inset-0 w-full h-full -z-30"></div>
<div class="table-cell align-middle relative z-50 lg:px-9" [@fade]="state">
  <div class="max-w-2xl w-full mx-auto max-h-[calc(100vh-55px)] overflow-y-auto {{maxWidth}}">
    <div class="bg-slate-100 px-10 pb-10 pt-5">
      <div class="bg-slate-100 py-5 flex {{(isTitleHidden && !isCloseHidden) ? 'justify-end' : 'justify-between'}} items-center" [ngClass]="{'sticky top-0':stickyTop}" *ngIf="!isTitleHidden || !isCloseHidden">
        <span class="block" *ngIf="!isTitleHidden">{{title}}</span>
        <div *ngIf="!isCloseHidden">
          <a href="javascript:void(0);" (click)="close();" class="text-xl"><i class="icon-close"></i></a>
        </div>
      </div>
      <div class="">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>