<div class="space-y-5 lg:space-y-7 xl:space-y-9 p-5 xl:p-8 2xl:p-10">
  <div class="w-full grid grid-cols-1 x-xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5">
    <a class="block w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5" [routerLink]="'/user-analytics/total-users/active-users'">
      <div class="flex items-center justify-between">
        <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Total Users</span>
        <div class="bg-light_primary rounded-lg">
          <span class="icon-user_analytics text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
        </div>
      </div>
      <div class="w-full">
        <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">100k</span>
        <div class="flex items-center space-x-2 mt-2">
          <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
            <span class="icon-up_arrow text-10 text-persion_green"></span>
            <span class="block text-xs text-persion_green">16.24 %</span>
          </div>
          <div class="flex items-center">
            <span class="block text-sm text-gray_1">This Month</span>
            <span class="icon-down_arrow1 text-gray_1"></span>
          </div>
        </div>
      </div>
    </a>
    <a class="block w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5" [routerLink]="'/earning-expenses/total-earning'">
      <div class="flex items-center justify-between">
        <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Total Earnings</span>
        <div class="bg-light_primary rounded-lg">
          <span class="icon-earnings_and_expense text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
        </div>
      </div>
      <div class="w-full">
        <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">25K</span>
        <div class="flex items-center space-x-2 mt-2">
          <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
            <span class="icon-down-arrow text-10 text-fire_opal"></span>
            <span class="block text-xs text-fire_opal">16.24 %</span>
          </div>
          <div class="flex items-center">
            <span class="block text-sm text-gray_1">This Month</span>
            <span class="icon-down_arrow1 text-gray_1"></span>
          </div>
        </div>
      </div>
    </a>
    <a class="block w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5" [routerLink]="'/earning-expenses/total-expenses'">
      <div class="flex items-center justify-between">
        <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Total Expenses</span>
        <div class="bg-light_primary rounded-lg">
          <span class="icon-earnings_and_expense text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
        </div>
      </div>
      <div class="w-full">
        <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">1000k</span>
        <div class="flex items-center space-x-2 mt-2">
          <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
            <span class="icon-down-arrow text-10 text-fire_opal"></span>
            <span class="block text-xs text-fire_opal">16.24 %</span>
          </div>
          <div class="flex items-center">
            <span class="block text-sm text-gray_1">This Month</span>
            <span class="icon-down_arrow1 text-gray_1"></span>
          </div>
        </div>
      </div>
    </a>
    <a class="block w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5">
      <div class="flex items-center justify-between">
        <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Reservation</span>
        <div class="bg-light_primary rounded-lg">
          <span class="icon-earnings_and_expense text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
        </div>
      </div>
      <div class="w-full">
        <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">1020k</span>
        <div class="flex items-center space-x-2 mt-2">
          <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
            <span class="icon-down-arrow text-10 text-fire_opal"></span>
            <span class="block text-xs text-fire_opal">16.24 %</span>
          </div>
          <div class="flex items-center">
            <span class="block text-sm text-gray_1">This Month</span>
            <span class="icon-down_arrow1 text-gray_1"></span>
          </div>
        </div>
      </div>
    </a>
    <a class="block w-full user_details border border-gray_5 rounded-xl space-y-4 p-3.5 md:p-4 lg:p-5" [routerLink]="'/complaint-management/complaint-management-overview'">
      <div class="flex items-center justify-between">
        <span class="block text-sm whitespace-nowrap text-gray_1 pr-1">Total Complains</span>
        <div class="bg-light_primary rounded-lg">
          <span class="icon-complaint_management text-sm lg:text-base w-7 md:w-8 lg:w-9 h-7 md:h-8 lg:h-9 flex items-center justify-center text-primary"></span>
        </div>
      </div>
      <div class="w-full">
        <span class="block text-xl md:text-22 lg:text-2xl xl:text-28 font-bold">5000</span>
        <div class="flex items-center space-x-2 mt-2">
          <div class="flex items-center space-x-1 bg-gray_6 rounded-md p-1">
            <span class="icon-down-arrow text-10 text-fire_opal"></span>
            <span class="block text-xs text-fire_opal">16.24 %</span>
          </div>
          <div class="flex items-center">
            <span class="block text-sm text-gray_1">This Month</span>
            <span class="icon-down_arrow1 text-gray_1"></span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="w-full space-y-12 mt-9">
    <div class="chartjs-wrapper bg-light rounded-xl border-0 p-5 sm:p-6 md:p-8 lg:p-10 mb-0">
      <div class="flex flex-wrap items-center justify-between mb-10 md:mb-12 lg:mb-16 xl:mb-20">
        <strong class="text-xl lg:text-2xl whitespace-nowrap py-4 pr-2">User Reports</strong>
        <ul class="flex flex-wrap items-center sm:space-x-3 -mx-3 mt-3 sm:mt-0">
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#058DC7] mr-1"></span>
            <span class="text-sm sm:text-base">All Users</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#50B432] mr-1"></span>
            <span class="text-sm sm:text-base">New Users</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#077597] mr-1"></span>
            <span class="text-sm sm:text-base">Active Users</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#634ECA] mr-1"></span>
            <span class="text-sm sm:text-base">Inactive Users</span>
          </li>
        </ul>
        <form class="relative">
          <div class="w-full relative cursor-pointer p-2">
            <mat-form-field>
              <!-- <mat-label>Enter a date range</mat-label> -->
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            
              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <canvas id="firstLine_chart" class="chartjs"></canvas>
    </div>
    <div class="chartjs-wrapper bg-light rounded-xl border-0 p-5 sm:p-6 md:p-8 lg:p-10 mb-0">
      <div class="flex flex-wrap items-center justify-between mb-10 md:mb-12 lg:mb-16 xl:mb-20">
        <strong class="text-xl lg:text-2xl whitespace-nowrap py-4 pr-2">User Reports</strong>
        <ul class="flex flex-wrap items-center sm:space-x-3 -mx-3 mt-3 sm:mt-0">
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#058DC7] mr-1"></span>
            <span class="text-sm sm:text-base">Ads</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#50B432] mr-1"></span>
            <span class="text-sm sm:text-base">Gifts</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#077597] mr-1"></span>
            <span class="text-sm sm:text-base">Promotion</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#634ECA] mr-1"></span>
            <span class="text-sm sm:text-base">Live Streams</span>
          </li>
        </ul>
        <form class="w-full sm:w-fit -mx-2">
          <div class="w-full relative cursor-pointer p-2">
            <span class="icon-calender absolute top-1/2 -translate-y-1/2 left-6 text-lg md:text-xl text-gray_1 pointer-events-none"></span>
            <input type="date" class="w-full text-xs sm:text-sm text-gray_1 bg-transparent border border-gray_5 outline-none rounded-lg py-2.5 px-5 pl-8 pr-5 sm:px-9 md:px-11"/>
            <span class="icon-down_arrow1 absolute top-1/2 -translate-y-1/2 right-4 text-2xl pointer-events-none"></span>
          </div>
        </form>
      </div>
      <canvas id="secondLine_chart" class="chartjs"></canvas>
    </div>
    <div class="chartjs-wrapper bg-light rounded-xl border-0 p-5 sm:p-6 md:p-8 lg:p-10 mb-0">
      <div class="flex flex-wrap items-center justify-between mb-10 md:mb-12 lg:mb-16 xl:mb-20">
        <strong class="text-xl lg:text-2xl whitespace-nowrap py-4 pr-2">User Reports</strong>
        <ul class="flex flex-wrap items-center sm:space-x-3 -mx-3 mt-3 sm:mt-0">
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#058DC7] mr-1"></span>
            <span class="text-sm sm:text-base">New Tickets</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#50B432] mr-1"></span>
            <span class="text-sm sm:text-base">Resolved Tickets</span>
          </li>
          <li class="flex items-center py-2 px-3">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#077597] mr-1"></span>
            <span class="text-sm sm:text-base">Pending Tickets</span>
          </li>
        </ul>
        <form class="w-full sm:w-fit -mx-2">
          <div class="w-full relative cursor-pointer p-2">
            <span class="icon-calender absolute top-1/2 -translate-y-1/2 left-6 text-lg md:text-xl text-gray_1 pointer-events-none"></span>
            <input type="date" class="w-full text-xs sm:text-sm text-gray_1 bg-transparent border border-gray_5 outline-none rounded-lg py-2.5 px-5 pl-8 pr-5 sm:px-9 md:px-11"/>
            <span class="icon-down_arrow1 absolute top-1/2 -translate-y-1/2 right-4 text-2xl pointer-events-none"></span>
          </div>
        </form>
      </div>
      <canvas id="thirdLine_chart" class="chartjs"></canvas>
    </div>
  </div>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-2 2xl:grid-cols-3 gap-4 divide-x-2 divide-gray_5 bg-light rounded-xl mt-9 py-10">
    <div class="w-full px-5 xl:px-9 2xl:px-11 py-2">
      <strong id="pieChart_one_lable" class="block text-lg md:text-xl lg:text-2xl pb-5">Users Data Overviews</strong>
      <div id="pieChart_one_data" class="flex flex-wrap xl:flex-nowrap items-center justify-between x-xs:space-x-11 space-y-5 x-xs:space-y-0">
        <div class="w-full flex items-center justify-center">
          <canvas id="pieChart_one" class="max-w-[240px] w-full"></canvas>
        </div>
        <ul class="space-y-2 2xl:space-y-3 -mx-3">
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#50B432] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Active Users</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">12,435</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#5388D8] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Inactive Users</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">1600</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full px-5 xl:px-9 2xl:px-11 py-2">
      <strong id="pieChart_two_lable" class="block text-lg md:text-xl lg:text-2xl pb-5">Earnings Overviews</strong>
      <div id="pieChart_two_data" class="flex flex-wrap xl:flex-nowrap items-center justify-between x-xs:space-x-11 space-y-5 x-xs:space-y-0">
        <div class="w-full flex items-center justify-center">
          <canvas id="pieChart_two" class="max-w-[240px] w-full"></canvas>
        </div>
        <ul class="space-y-2 2xl:space-y-3 -mx-3">
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#50B432] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Ads</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹12,423</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#5388D8] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Gifts</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹1600</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#077597] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Promotions</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹1423</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#634ECA] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Live Streams</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹1200</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full px-5 xl:px-9 2xl:px-11 py-2">
      <strong id="pieChart_three_lable" class="block text-lg md:text-xl lg:text-2xl pb-5">Users Data Overviews</strong>
      <div id="pieChart_three_data" class="flex flex-wrap xl:flex-nowrap items-center justify-between x-xs:space-x-11 space-y-5 x-xs:space-y-0">
        <div class="w-full flex items-center justify-center">
          <canvas id="pieChart_three" class="max-w-[240px] w-full"></canvas>
        </div>
        <ul class="space-y-2 2xl:space-y-3 -mx-3">
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#50B432] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">OTPs</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹6800</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#5388D8] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Promotional message</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹800</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#077597] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Ads Genereted coin</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹3400</span>
            </div>
          </li>
          <li class="w-full flex">
            <span class="w-1.5 sm:w-2 h-1.5 sm:h-2 rounded-full bg-[#634ECA] mt-2"></span>
            <div class="ml-4">
              <span class="block max-w-[84px] whitespace-pre-wrap 2xl:max-w-full text-xs text-gray_1">Others</span>
              <span class="block sm:text-lg md:text-xl lg:text-22 mt-2">₹5000</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>