<div class="grid grid-cols-1 md:grid-cols-2 gap-5 2xl:gap-7">
  <div class="flex flex-col border border-gray_3 rounded-lg p-4 xl:p-6">
    <div class="w-full flex items-center border-b border-gray_3 pb-6">
      <span class="block text-lg font-semibold text-gray_2">Ticket#1</span>
      <span class="block text-xs bg-[#C2EBD5] text-deep_green rounded-lg py-1 px-3 mx-3">Resolved</span>
      <span class="block text-gray_1 text-sm xl:ml-auto">Posted at 12:45 AM</span>
    </div>
    <div class="py-4 2xl:py-6">
      <p class="font-medium pb-3">How to deposit money to my portal?</p>
      <p class="text-gray_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="flex items-center justify-between mt-auto">
      <div class="flex items-center">
        <img src="../assets/images/user1.png" alt="John Snow">
        <span class="block text-sm font-medium text-gray_1 ml-2">John Snow</span>
      </div>
      <a href="#" class="block text-sm font-medium text-primary underline">Replay</a>
    </div>
  </div>
</div>