/* .bounce{
  animation: bounce 1.3s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
} */

/* .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic{
  stroke: #fff !important;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff !important;
} */
